In [1]:
import pandas as pd
import numpy as np 
from sklearn.preprocessing import LabelEncoder

In [2]:
data = pd.read_excel("data\data.xlsx")
print(data.shape)
data.head()

(111, 10)

,d_p,d_hole,l_e,f_cg,f_cm,anchore_type,masonry_type,sigma_c,f_max_exp,failure_mode
0,16,80,350,27.3,50.0,steal bar,clay bricks,0.08,58.0,MIX
1,16,80,350,27.3,50.0,steal bar,clay bricks,0.09,40.0,MIX
2,16,80,350,27.3,50.0,steal bar,clay bricks,0.07,52.0,MIX
3,16,80,350,27.3,50.0,steal bar,clay bricks,0.7,60.0,SBG
4,16,80,350,27.3,50.0,steal bar,clay bricks,0.7,64.0,SBG

In [3]:
data.isnull().sum()

d_p             0
d_hole          0
l_e             0
f_cg            0
f_cm            0
anchore_type    0
masonry_type    0
sigma_c         0
f_max_exp       0
failure_mode    0
dtype: int64

In [4]:
data.dtypes

d_p               int64
d_hole            int64
l_e               int64
f_cg            float64
f_cm            float64
anchore_type     object
masonry_type     object
sigma_c          object
f_max_exp       float64
failure_mode     object
dtype: object

In [5]:
data["anchore_type"].unique()

array(['steal bar', 'stainless steel bar', 'steel spike', 'steel bar',
       'GFRP bar', 'GFRP bar with SRP wrap', 'carbotube'], dtype=object)

In [6]:
data["masonry_type"].unique()

array(['clay bricks', 'limestone', 'tuff stone'], dtype=object)

In [7]:
data["failure_mode"].unique()

array(['MIX', 'SBG', 'SGM', 'CMD'], dtype=object)

In [8]:
encoder = LabelEncoder()
data["anchore_type"] =encoder.fit_transform(data["anchore_type"])
data["masonry_type"] = encoder.fit_transform(data["masonry_type"])
data["failure_mode"] = encoder.fit_transform(data["failure_mode"])

In [9]:
data.head()

,d_p,d_hole,l_e,f_cg,f_cm,anchore_type,masonry_type,sigma_c,f_max_exp,failure_mode
0,16,80,350,27.3,50.0,4,0,0.08,58.0,1
1,16,80,350,27.3,50.0,4,0,0.09,40.0,1
2,16,80,350,27.3,50.0,4,0,0.07,52.0,1
3,16,80,350,27.3,50.0,4,0,0.7,60.0,2
4,16,80,350,27.3,50.0,4,0,0.7,64.0,2

In [11]:
new_df = data.drop('sigma_c', axis=1)

In [12]:
new_df.head()

,d_p,d_hole,l_e,f_cg,f_cm,anchore_type,masonry_type,f_max_exp,failure_mode
0,16,80,350,27.3,50.0,4,0,58.0,1
1,16,80,350,27.3,50.0,4,0,40.0,1
2,16,80,350,27.3,50.0,4,0,52.0,1
3,16,80,350,27.3,50.0,4,0,60.0,2
4,16,80,350,27.3,50.0,4,0,64.0,2

In [14]:
new_df.to_excel("data/new_data.xlsx")